.navbar{
    width: auto;
    height: 6vw;
    background-color:#252525;
    /*background-image:url('../../images/Background.png');*/
}
ul{
    padding-top: 0.8vw;
}
li{
    display: block;
    float:Right;
    font-family:cursive;
    font-weight: 800;
    border-radius: 0.8vw;
    font-size: 1vw;
}
.li1{
    width:5vw;
    color: #FEFFFE;
    text-shadow: 0.03vw 0.03vw black;
    margin-left: 0.1vw;
    margin-top: 0.6vw;
    padding:0.4vw;
}
.li1:hover{
    font-weight: 900;
    font-size: 1.1vw;

}
.logo{
    width:9vw;
    position:absolute;
    left: 3vw;
    top:0;
}
.search{
    position: absolute;
    float:left;
    width:28vw;
    margin:1vw;
    left:15vw;
    height:2vw;
    text-align: center;
    border:0.1vw solid rgba(255, 255, 255, 0.564);
    color: rgba(255, 255, 255, 0.678);
    border-radius: 0.2vw 0 0 0.2vw;
    background-color: rgba(255, 255, 255, 0.137);
    font-size: 1vw;
}
.form-text{
    position: absolute;
    width:4vw;
    color:rgb(255, 255, 255);
    background-color: #ff0404;
    border-radius: 0 0.13vw 0.13vw 0;
    height:2.25vw;
    border: none;
    font-size: 1vw;
    font-weight: 200;
    margin-top: 1vw;
    font-family:monospace;
    text-align: center;
    left:45vw;
}
.form-text:hover{
    background-color: #c70000;

}
.nav-btn-1{
    width:5vw;
    height: fit-content;
    background-color: #FEFFFE;
    color: #040404;
    border-radius: 0.5vw;
    font-family:cursive;
    border:0.05vw solid white;
    margin-top: 1vw;
    margin-right:2vw;
    font-size: 1vw;

}
.nav-btn-2{
    width:5vw;
    background-color: #152267;
    color: #FEFFFE;
    border-radius: 0.5vw;
    font-family:cursive;
    border:0.05px solid rgb(255, 255, 255);
    margin-top: 1vw;
    margin-left:0.5vw;
    margin-right:0.5vw;
    font-size: 1vw;
    
}
.nav-btn-1:hover{
    background-color: #152267;
    border:1px solid rgb(255, 255, 255);
    color: #FEFFFE;
}
.nav-btn-2:hover{
    background-color: #ffffff;
    border:1px solid rgb(0, 0, 0);
    color: #000000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000a6;
    min-width: 160px;
    box-shadow: 5px 5px 8px rgba(255, 255, 255, 0.741);
    z-index: 1;
    border-radius:0.2vw 0.2vw 0.2vw 0.2vw;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(239, 239, 239);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 0.8vw;

  }
  
  .dropdown-content a:hover {
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.681);
    background-color: #373737;
    font-size: 1vw;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }